@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "JetBrainsMono", system-ui, sans-serif;
  }
}

@layer base {
  :root {
    --popover: 265 91% 32%;
    --popover-foreground: 26 78% 89%;

    --border: 265 91% 32%;
    --input: 265 91% 32%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 265 91% 32%;
    --primary-foreground: 26 78% 89%;

    --secondary: 26 78% 89%;
    --secondary-foreground: 265 91% 22%;

    --accent: 26 78% 89%;
    --accent-foreground: 265 91% 22%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.ant-picker {
  @apply border-none bg-transparent p-0 text-lg !text-secondary !placeholder-secondary ring-0;
}
.ant-picker-input > input,
.ant-picker-input > span {
  @apply !w-[136px] !text-lg !text-secondary !placeholder-secondary;
}
.ant-picker.ant-picker-range.ant-picker-status-error {
  @apply !bg-transparent;
}

.ant-picker-header * {
  @apply !text-primary;
}
.ant-select > .ant-select-selector {
  @apply !border-secondary  !text-primary !placeholder-primary;
}
.ant-select > .ant-select-selector > .ant-select-selection-search > input,
.ant-select > .ant-select-selector > .ant-select-selection-placeholder,
.ant-select > .ant-select-selector > .ant-select-selection-item,
.ant-select-arrow,
.ant-select-item {
  @apply !font-bold !text-primary !placeholder-primary;
}

.ant-select-dropdown {
  @apply !bg-secondary !text-primary;
}
.ant-picker-range {
  @apply !p-3 !ring-1 !ring-secondary;
}

.ant-picker-range > .ant-picker-input > input {
  @apply !w-[291px] font-bold;
}
.ant-picker-panels .ant-picker-content .ant-picker-cell-selected .ant-picker-cell-inner {
  @apply !bg-primary;
}
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  @apply !border-primary;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    @apply !bg-primary;
}

.ant-picker-ranges {
  @apply !bg-secondary;
}

.ant-picker-panels .ant-picker-content .ant-picker-cell-in-view,
.ant-picker-panels .ant-picker-content th {
  @apply !text-primary;
}

.ant-picker-range > .ant-picker-range-separator svg,
.ant-picker-range > .ant-picker-suffix svg {
  @apply !fill-secondary;
}

.ant-picker-panel {
  @apply !bg-secondary font-bold !text-primary;
}
.ant-picker-ok > button {
  @apply !bg-primary font-bold !text-secondary ring-1 ring-primary hover:!bg-transparent hover:!text-primary;
}

.ant-picker-time-panel-cell-inner {
  @apply !text-primary;
}
.ant-picker-time-panel-cell-selected,
.ant-picker-time-panel-cell-selected > div {
  @apply rounded-sm !bg-primary !text-secondary;
}

.ant-picker-clear {
  @apply hidden;
}

.ant-color-picker-trigger {
  @apply !border !bg-tertiary;
}

.ant-upload {
  @apply !border-secondary !text-secondary hover:!border-secondary/60 hover:!text-secondary/60;
}
